# Environment variables (sensitive)
.env

# Build artifacts
/build

# Virtual environment stuff
/.venv
/venv

/cgyro_inputs
/test_data
/test_data_new

/runs
# SSH keys for OMFIT-source pull
.ssh

*/__pycache__
*/OMFIT-source