project_name: ai-fusion-gacode-simulation
model:
  tglf:
    command: >-
      [](. ./.venv/bin/activate; make download file=<s3path>;) bash src/run_simulation.sh tglf <s3path>
    gpu_count: 0
    cpu_count: 1
    ephemeral_storage: 1
    memory: 2
    image: gitlab-registry.nrp-nautilus.io/zclawrence/gacode-simulation:latest
  cgyro:
    command: >-
      [](conda shell.bash hook; conda env create -f environment.yml; conda init; source ~/.bashrc; conda activate ai-fusion-gacode-simulation; poetry install; make download file=<s3path>;) bash src/run_simulation.sh cgyro <s3path>; USER=$USER conda run --no-capture-output -n omfit-classes-only python /home/user/ai-fusion-bal-scheduler/src/parse_and_save_outputs.py -d <s3path>../../ -o <s3path>; tar -cJvf <s3path>compressed_outputs.tar.xz <s3path>; make upload file=<s3path>compressed_outputs.tar.xz
    gpu_count: 0
    cpu_count: 32
    ephemeral_storage: 50
    memory: 2
    image: gitlab-registry.nrp-nautilus.io/wesleyliu728/gacode-simulation:latest
    # config/launch.yaml
    # priority_class_name: opportunistic 
    cpu_only: false

